#now{
  font-size: 144px;
  font-weight: 100;
}

#location{
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 50px;
}

#history{
  list-style: none;
  width: 480px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-weight: 200;
}

#history li{
  position: relative;
  line-height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

#history li:last-child{
  border-bottom: none;
}


.temp{
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}