<div id="now" class="text-center">
  <span>{{ now }}</span>°C
</div>

<div id="location" class="text-center">Mumbai, Maharashtra</div>

<ul id="history" class="cf">
  <li class="">
    <span>Thursday</span>
    <div class="temp">25°c</div>
    <div ng-show="false" class="description">heavy intensity rain</div>
  </li>
  <li class="">
    <span>Thursday</span>
    <div class="temp">25°c</div>
    <div ng-show="false" class="description">heavy intensity rain</div>
  </li>
  <li class="">
    <span>Thursday</span>
    <div class="temp">25°c</div>
    <div ng-show="false" class="description">heavy intensity rain</div>
  </li>
</ul>